<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}

    <div class="container">

      <!-- show logo image -->
      <center>
      </br></br>
        <p><img src="./static/images/movie2books_logo.jpg" height = "100" style="border:2px solid white"></p>
      </center>
      <center>
        <p class="lead">Find out books you may like by submitting your favorite movie.</p>
      </center>

  
 
          <form action="/search" method="POST">
          <center>
          <h3>Enter Your Favorite Movie: 
          <input type="text" name="movietitle" id="movieTitle" placeholder = "enter movie title" class = "typeahead">
          <input type="submit" value="Submit">
          </h3>
          </center>
          </form>


      <br/></br>
      <center>
           <p class="lead">Sorry! The movie you searched is not in Movie2Books database yet :(</p><br/>
      </center>

      <center>
        <p><img src="./static/images/No.png" height = "400" style="border:2px solid white" class="img-rounded"></p>
      </center>




<script>
$('#movieTitle').typeahead([
{
name: 'movieTitle',
prefetch: 'static/dist/js/movietitles.json', 
valueKey: 'name',              
limit: 5
}
]);
</script>


{% endblock %}

