{% extends "base.html" %}

{% block content %}
    <br>
    <br>
    <br>
    <div class="row">
      
      <div class="col-md-offset-2 col-md-4 text-right">
         <img src="static/images/sumin.jpg" height = "400" style="border:2px solid white" class="img-rounded">
      </div> 
      <div class="col-md-3" style="font-family:helvetica"> 
          <h4> <br> <br>

            Hi, I'm <b>Sumin Tang</b>, a Fellow at the Insight Data Science program. <br> <br>

            Thanks for visiting Movie2Books, a recommendation engine to help users find books they may like based on their favorite movies. <br> <br>

            I was a former astrophysicist, and I am excited to move into the world of data science. 
            You can find more information from my LinkedIn profile or check out my resume. <br> <br>
          </h4>
          <a class="btn btn-primary" href="http://www.linkedin.com/in/sumintang/" target=_blank role="button">My LinkedIn</a>
               
           <a class="btn btn-primary" href="/static/Resume_SuminTang.pdf" target=_blank role="button">My Resume</a>
           
      </div>

  

    </div>

{% endblock %}


